{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block title %}Login{% endblock %}

{% block content %}
        <div class="container">
		<h1>Login</h1>
<!--        <form method="post" action="{{ url_for('login') }}" novalidate>-->

<!--			{{ form.csrf_token }}-->

<!--			<p>-->
<!--			{{ form.username.label }} {{ form.username(size=30) }}-->
<!--			{% if form.username.errors %}-->
<!--				{% for err in form.username.errors %}-->
<!--					<span>{{ err }}</span>-->
<!--				{% endfor %}-->
<!--			{% endif %}-->
<!--			</p>-->

<!--			<p>-->
<!--			{{ form.password.label }} {{ form.password(size=30) }}-->
<!--			{% if form.password.errors %}-->
<!--				{% for err in form.password.errors %}-->
<!--					<span>{{ err }}</span>-->
<!--				{% endfor %}-->
<!--			{% endif %}-->
<!--			</p>-->

<!--			{{ form.submit }}-->

<!--		</form>-->

			{{ wtf.quick_form(form) }}

        </div>

{% endblock %}